div {
    border: 1px solid #000000;
    height: 40px;
    width: 40px;
}

img {
    height: 30px;
    width: 30px;
    padding: 5px;
}

div .greener {
    color: greenyellow;
    background-color: aqua;
}

div .redder {
    color: red;
}